/* SCREEN Desktop and up */
@media screen and (min-width: 992px) {
  /* SERVICES */

  .card-body > p {
    font-size: 18px;
  }

  /* PROCESS */
	.process {
		width: 108px; height: 108px; padding: 20px 10px;
		}

	.process img {
  	height: 48px;
    width: 48px;
		}

  .process h4 {
    font-size: 20px;
    font-weight: 600;
    }

  .team-member img {
    width: 250px;
    height: 307px;
    border: 7px solid #fff;
    }

}
