{% load static %}
<section  class="bg-secondary mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase">About</h2>

    <hr class="star-dark mb-5">

    <div class="row">
      <div class="col-4 text-center">
        <div class="team-member">
          <img class="rounded-circle" src="{% static 'img/profile_pic-01.jpg' %}" alt="">
        </div>
        <h5>Nils Nolde</h5>
        <p class="text-muted">
          MSc. Geology
          <br>
          <br>
          GIS Expert
          <br>
          Geophysicist
          <br>
          Exploration Geologist
        </p>
      </div>

      <div class="col-4 text-center">
        <div class="team-member">
          <img class="rounded-circle" src="{% static 'img/profile_pic-02.jpg' %}" alt="">
          <h5>Nils Nolde</h5>
          <p class="text-muted">
            Owner and Founder
          </p>
          <ul class="list-inline">
            <li class="list-item-inline" style="display: inline-block;">
              <a href="mailto:nilsnolde@geophox.com">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-item-inline" style="display: inline-block;">
              <a target="_blank" href="https://www.linkedin.com/in/nils-nolde-1a30a048/">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-item-inline" style="display: inline-block;">
              <a target="_blank" href="https://twitter.com/realNilsNolde">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-4 text-center">
        <div class="team-member">
          <img class="rounded-circle" src="{% static 'img/profile_pic-03.jpg' %}" alt="">
        </div>
        <h5>Nils Nolde</h5>
        <p class="text-muted">
          FOSS enthusiast
          <br>
          <br>
          <a target="_blank" href="https://openrouteservice.org">openrouteservice.org</a>
          <br>
          <a target="_blank" href="https://pypi.python.org/pypi/openrouteservice">PyPI repository</a>
          <br>
          <a target="_blank" href="https://plugins.qgis.org/plugins/author/Nils%2520Nolde/">QGIS Plugin(s)</a>
        </p>
      </div>

    </div>

    <div class="border-dark mt-5"></div>

    <h3 class="text-center mt-5 mb-4">Trusted By</h3>

    <div class="row text-center">
      <div class="col-sm-4 col-xs-6 d-flex align-items-center">
        <img src="{% static 'img/svg_unis.svg' %}" alt="Card image cap" width="100%">
      </div>
      <div class="col-xs-6 col-sm-4 d-flex align-items-center">
        <img src="{% static 'img/ZALANDO_small.png' %}" alt="Card image cap" width="100%">
      </div>
      <div class="col-sm-4 col-xs-6 d-flex align-items-center">
        <img src="{% static 'img/openrouteservice.png' %}" alt="Card image cap" width="100%">
      </div>
    </div>

  </div>
</section>
