{% load static %}
<section class="portfolio" id="services">
  <div class="container">
    <h2 class="text-center text-uppercase">Services</h2>
    <hr class="star-light mb-5">
    <div class="row pb-5">
      <div class="portfolio col-md-4 mt-5 text-center">
        <h4 class="mb-3">Mapping</h4>
        <div class="portfolio-item d-block mx-auto">
          <img class="" src="{% static 'img/svg_mapping.svg' %}" alt="">
          <button type="button" class="btn portfolio-btn text-white w-50" href="#mapping" data-toggle="collapse">
            Skills
          </button>
        </div>

        <div class="collapse" id="mapping">
          <div class="card-body">
            <div class="skill-unit">
              <h5>QGIS</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>ArcGIS</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>Leaflet</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 80%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>Illustrator</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-warning" style="width: 70%;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="lead mt-3">
          Classical desktop cartography and
          web mapping solutions, based on clients' needs.
        </p>
        <a class="btn btn-primary text-dark">Examples follow soon</a>
      </div>

      <div class="portfolio col-md-4 mt-5 text-center">
        <h4 class="mb-3">Developing</h4>
        <div class="portfolio-item d-block mx-auto">
          <img class="" src="{% static 'img/svg_dev.svg' %}" alt="">
          <button type="button" class="btn portfolio-btn text-white w-50" href="#develop" data-toggle="collapse">
            Skills
          </button>
        </div>
        <div class="collapse" id="develop">
          <div class="card-body">
            <div class="skill-unit">
              <h5>Full Stack Python</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>HTML/CSS/JavaScript</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 80%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>Docker</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-warning" style="width: 70%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>Latex</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-warning" style="width: 70%;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="lead mt-3">
          Development of individual software workflows for all sorts of
          geo-related topics.
        </p>
        <a class="btn btn-primary text-dark">Examples follow soon</a>
      </div>

      <div class="portfolio col-md-4 mt-5 text-center">
        <h4 class="mb-3">Analytics</h4>
        <div class="portfolio-item d-block mx-auto">
          <img class="" src="{% static 'img/svg_analytics.svg' %}" alt="">
          <button type="button" class="btn portfolio-btn text-white w-50" href="#analytics" data-toggle="collapse">
            Skills
          </button>
        </div>
        <div class="collapse" id="analytics">
          <div class="card-body">
            <div class="skill-unit">
              <h5>Python</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>PosgreSQL/PostGIS</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>Excel/VBA</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="skill-unit">
              <h5>Geostatistics</h5>
              <div class="progress">
                <div class="progress-bar bar-geophox bg-warning " style="width: 70%;">
                </div>
              </div>
            </div>

  <!-- Custom scripts for this template -->
          </div>
        </div>
        <p class="lead mt-3">
          Enrich your analysis with geospatial information to improve your
          business decisions!
        </p>
        <a class="btn btn-primary text-dark">Examples follow soon</a>
      </div>
    </div>

    <div class="border-grey mt-5"></div>

    <h3 class="text-center mt-5 mb-4">General Workflow</h3>

    <div class="row process-row">
      <div class="col-2">
        <div class="process text-center">
          <p>
            <img src="{% static 'img/svg_discuss.svg' %}" alt="discuss">
          </p>
          <h4>Discuss</h4>
        </div>
      </div>
      <div class="col-2">
        <div class="process">
          <p>
            <img src="{% static 'img/svg_design.svg' %}" alt="design">
          </p>
          <h4>Design</h4>
        </div>
      </div>
      <div class="col-2">
        <div class="process">
          <p>
            <img src="{% static 'img/svg_discuss.svg' %}" alt="design">
          </p>
          <h4>Discuss</h4>
        </div>
      </div>
      <div class="col-2">
        <div class="process">
          <p>
            <img src="{% static 'img/svg_develop.svg' %}" alt="design">
          </p>
          <h4>Develop</h4>
        </div>
      </div>
      <div class="col-2">
        <div class="process">
          <p>
            <img src="{% static 'img/svg_test.svg' %}" alt="design">
          </p>
          <h4>Test</h4>
        </div>
      </div>
      <div class="col-2">
        <div class="process">
          <p>
            <img src="{% static 'img/svg_launch.svg' %}" alt="design">
          </p>
          <h4>Launch</h4>
        </div>
      </div>
    </div>
    <div class="container text-center mt-5">
          <a href="mailto:contact@geophox.com" class="btn btn-lg btn-secondary" style="display: inline-block">Start Discussion</a>
    </div>

  </div>
</section>
