<!-- main class is for the one-page view -->
  <section class="section">
		<div class="hero is-success is-fullheight">

    <div class="hero-body">
			<div class="container has-text-centered">

	      {% include "geophox_animate.svg" %}
	      <div id="title_div">
	        <p class="subtitle is-spaced">
	            <span>Building solutions for </span>
	        </p>
	        <p class="title is-4">
	          <strong>
	            <a class="typewrite" data-period="3000" data-type='["GIS Full Stack", "Geophysical Solutions", "Web Development", "Open Source", "Web Development","Python"]'>
	              <span class="wrap"></span>
	            </a>
	          </strong>
	        </p>

				</div>

    	</div>
		</div>

	</div>

</section>
