<!-- main class is for the one-page view -->
<section><a name="page-1"></a>
  <div class="main" id="svg">
    {% include "svg_berlin_bg.svg" %}
  </div>

  <div class="container cnt-one" style="top: 30%;">
    {% include "svg_logo_animate.svg" %}
  </div>
  <div class="container cnt-one" style="top:70%">
    <div id="title_div">
      {# <h1 class="display-4">Consultancy Services for</h1> #}
      <h1 class="display-4">
          <a class="typewrite" data-period="3000" data-type='["GIS", "Developing", "Design", "Analytics"]'>
            <span class="wrap"></span>
          </a>
      </h1>
    </div>
  </div>
</section>
