{% load static %}
<section><a name="page-2"></a>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="display-4 hcenter">SERVICES</h1>
        </div>
      </div>

      <div class="row vdivide">
        <div class="col-sm-4">
          <div class="card no-border">
            <h3 class="card-title hcenter">Mapping</h3>
            <img class="card-img-top svg-card" src="{% static 'img/svg_mapping.svg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Classical desktop cartography and
                web mapping solutions, based on clients' needs.
              </p>
              <p class="card-text">
                <div class="skill-unit">
                  <h5>QGIS</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>ArcGIS</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>Leaflet</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 80%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>Illustrator</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-warning" style="width: 70%;">
                    </div>
                  </div>
                </div>
              </p>
              <a href="#" class="btn btn-example">Examples follow soon</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card no-border">
            <h3 class="card-title hcenter">Developing</h3>
            <img class="card-img-top svg-card" src="{% static 'img/svg_dev.svg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Development of individual software workflows for all sorts of
                geo-related topics.
              </p>
              <p class="card-text">
                <div class="skill-unit">
                  <h5>Full Stack Python</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>HTML/CSS/JavaScript</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 80%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>Docker</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-warning" style="width: 70%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>Latex</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-warning" style="width: 70%;">
                    </div>
                  </div>
                </div>
              </p>
              <a href="#" class="btn btn-example">Examples follow soon</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card no-border">
            <h3 class="card-title hcenter">Analytics</h3>
            <img class="card-img-top svg-card" src="{% static 'img/svg_analytics.svg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Enrich your analysis with geospatial information to improve your
                business decisions!
              </p>
              <p class="card-text">
                <div class="skill-unit">
                  <h5>Python</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>PosgreSQL/PostGIS</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>Excel/VBA</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-success" style="width: 100%;">
                    </div>
                  </div>
                </div>
                <div class="skill-unit">
                  <h5>Geostatistics</h5>
                  <div class="progress">
                    <div class="progress-bar bar-geophox bg-warning " style="width: 70%;">
                    </div>
                  </div>
                </div>
              </p>
              <a href="#" class="btn btn-example">Examples follow soon</a>
            </div>
          </div>
        </div>
      </div>

      <div class="meta-border"></div>

      <h2 class="hcenter">General Workflow</h2>

      <div class="row process-row">
        <div class="col-sm-2 col-xs-4">
          <div class="process">
            <p>
              <img src="{% static 'img/svg_discuss.svg' %}" alt="discuss">
            </p>
            <h4>Discuss</h4>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="process">
            <p>
              <img src="{% static 'img/svg_design.svg' %}" alt="design">
            </p>
            <h4>Design</h4>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="process">
            <p>
              <img src="{% static 'img/svg_discuss.svg' %}" alt="design">
            </p>
            <h4>Discuss</h4>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="process">
            <p>
              <img src="{% static 'img/svg_develop.svg' %}" alt="design">
            </p>
            <h4>Develop</h4>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="process">
            <p>
              <img src="{% static 'img/svg_test.svg' %}" alt="design">
            </p>
            <h4>Test</h4>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="process">
            <p>
              <img src="{% static 'img/svg_launch.svg' %}" alt="design">
            </p>
            <h4>Launch</h4>
          </div>
        </div>
      </div>
      <div class="container text-center" style="padding-top: 5%">
            <a href="mailto:contact@geophox.com" class="btn btn-lg btn-primary" style="display: inline-block">Start Discussion</a>
      </div>
    </div>
  </section>
